@Styles.Render("~/Content/about.css")

@{
    ViewBag.Title = "About";
}
<h2>ABOUT US</h2>

<p>
    Our blog provides the latest movie news, movie trailers, new movies and more. <br>
    Online since 2018. <br>
    Every week our talented team of expert writers, editors, and trend-setters researches hundreds of news stories, editorials, and reviews obsessing over all the things influencers care about most in movies. <br />
    We are taking our movies rating from the OMDB web service <br />
    And we have a twitter page "OurMoviesBlog" 
</p>

<h2 class="team-title">Our Team</h2>

<div class="authors">
    <div class="author">
        <div class="author-image-container">
            <img src="~/media/shahar.jpg" width="220" class="author-image">
            <div class="author-name">Shahar Rozenberg</div>
            <div class="author-title">FOUNDER</div>
            <div class="author-social-container"></div>
            <a class="author-social-link" href="https://www.facebook.com/profile.php?id=100000709658108"><img class="author-social-image" src="~/media/facebook-grey.png" width="48" height="48" alt="Shahar Rozenberg on Facebook"></a>
        </div>
        
    </div>
    <div class="author">
        <div class="author-image-container">
            <img src="~/media/sharon.jpg" height="220" width="220" class="author-image">
            <div class="author-name">Sharon Shrits</div>
            <div class="author-title">MANAGIN DIRECTOR</div>
            <div class="author-social-container"></div>
            <a class="author-social-link" href="https://www.facebook.com/sharon.shrits"><img class="author-social-image" src="~/media/facebook-grey.png" width="48" height="48" alt="Sharon Shrits on Facebook"></a>
        </div>
    </div>
    <div class="author">
        <div class="author-image-container">
            <img src="~/media/nofar.jpg" width="220" class="author-image">
            <div class="author-name">Nofar Arev</div>
            <div class="author-title">VIDEO PRODUCER</div>
            <div class="author-social-container"></div>
            <a class="author-social-link" href="https://www.facebook.com/nofar9880"><img class="author-social-image" src="~/media/facebook-grey.png" width="48" height="48" alt="Nofar Arev on Facebook"></a>
        </div> 
    </div>
</div>

