@Styles.Render("~/Content/about.css")

@{
    ViewBag.Title = "About";
}
<h2>ABOUT US</h2>

<p>
    Our blog provides the latest movie news, movie trailers, new movies and more. <br>
    Online since 201*. <br>
    Every week our talented team of expert writers, editors, and trend-setters researches hundreds of news stories, editorials, and reviews obsessing over all the things influencers care about most in movies. <br />
    We are taking our movies rating from the OMDB web service <br />
    And we have a twitter page "OurMoviesBlog" 
</p>

<h2 class="team-title">Our Team</h2>

<div class="authors">
    <div class="author">
        <div class="author-image-container">
            <img src="~/media/sagie.jpg" width="220" class="author-image">
            <div class="author-name">Sagie Ivan</div>
            <div class="author-title">FOUNDER</div>
            <div class="author-social-container"></div>
            <a class="author-social-link" href="https://www.facebook.com/sagie.ivan"><img class="author-social-image" src="~/media/facebook-grey.png" width="48" height="48" alt="Sagie Ivan on Facebook"></a>
        </div>
        
    </div>
    <div class="author">
        <div class="author-image-container">
            <img src="~/media/niv.jpg" height="220" width="220" class="author-image">
            <div class="author-name">Niv Hindi</div>
            <div class="author-title">MANAGIN DIRECTOR</div>
            <div class="author-social-container"></div>
            <a class="author-social-link" href="https://www.facebook.com/profile.php?id=100000409598253"><img class="author-social-image" src="~/media/facebook-grey.png" width="48" height="48" alt="Niv Hindi on Facebook"></a>
        </div>
    </div>
    <div class="author">
        <div class="author-image-container">
            <img src="~/media/tom.jpg" width="220" class="author-image">
            <div class="author-name">Tom Shushan</div>
            <div class="author-title">VIDEO PRODUCER</div>
            <div class="author-social-container"></div>
            <a class="author-social-link" href="https://www.facebook.com/djtomshushan"><img class="author-social-image" src="~/media/facebook-grey.png" width="48" height="48" alt="Tom Shushan on Facebook"></a>
        </div> 
    </div>
</div>

